@await Component.InvokeAsync("HeaderPortal", new { pageName = ViewData["Title"], actionName = ViewData["Action"] })
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Tạo mới bài viết</h3>
            </div>
            
            <!-- form start -->
            <form  method="post" enctype="multipart/form-data" id="article-form">
              <div class="box-body">

                <div id="title-form-group" class="form-group" >
                  <label for="titleArticle">Tiêu đề bài viết</label>
                  <input type="text" class="form-control" id="title" placeholder="Tiêu đề bài viết" name="title" />
                </div>

                <div id="image-form-group" class="form-group">
                  <div class="row">
                    
                    <div class="col-sm-12 col-md-6">
                      <label for="image">Upload hình ảnh</label>
                      <input type="file" id="images" accept="image/*" name="image">
                      <p class="help-block">Hình ảnh</p>
                    </div>

                    <div class="col-sm-12 col-md-6">
                      <img id="img-loader" class="img-responsive" />    
                    </div>
                    
                  </div>
                </div>


                <div id="description-form-group" class="form-group" >
                  <label>Mô tả ngắn</label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..." id="description"></textarea>
                </div>

                <div id="content-form-group" class="form-group">
                  <div id="editor"></div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a class="btn btn-primary" id="btn-submit">Submit</a>
              </div>
            </form>
          </div>
            <!-- /.box -->
        </div>
    </div>
    
</section>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/26.0.0/classic/ckeditor.js"></script>
    <script type="text/javascript">
        ClassicEditor.create(document.querySelector('#editor'), {
            ckfinder: {
                uploadUrl: '/ckfinder/connector?command=QuickUpload&type=Files&responseType=json'
            },
            toolbar: ['ckfinder', 'imageUpload', '|', 'heading', '|', 'bold', 'italic', '|', 'undo', 'redo']
            })
            .catch(function (error) {
                console.error(error);
            });
    </script>

    
    <script>
        $(function () {
            var img = $("#img-loader");
            img.attr("src", noImage);

            $("#images").change((e) => {
              debugger;
              var selectedFiles = $('#images').prop('files');
              if (selectedFiles.length === 0){
                img.attr("src", noImage );
              } else {
                encodeImageFileAsURL(selectedFiles, (base64) => {
                  img.attr("src",base64);
                });
              }
            });

            $("#btn-submit").click((e) => {
                e.preventDefault();

                var image = $('#images').prop('files')[0];
                  uploadImages(image, (url) => {
                        var content = CKEDITOR.instances["editor1"].getData();
                        var title = $('#title').val();
                        var description = $('#description').val();
                        
                        var article = {
                          content: content,
                          title: title,
                          description: description
                        };
                    
                        postArticle(article);
                });
            });

            var validateForm = (article) => {
                return true;
            }

            var postArticle = (article) => {
              console.log(article);
              $.ajax({
                  url: 'CreateArticle',
                  data: JSON.stringify({article: article}),
                  type: "POST",
                  dataType: 'json',
                  contentType: "application/json; charset=utf-8",  
                  success: function (data) {
                    console.log(data);
                  },
                  error: function (passParams) {
                      debugger;
                  }
              });
            }
        });
        
        
    </script>

}