<!-- Footer start -->
	<div class="ts-footer">
		<div class="container">
			<div class="row ts-gutter-30 justify-content-lg-between justify-content-center">
				<div class="col-lg-4 col-md-6">
					<div class="footer-widtet">
						<h3 class="widget-title"><span>About Us</span></h3>
						<div class="widget-content">
							<p>Hidden Hills property with mountain and city view boast nine bedrooms including a master suite with private terrace and an entertainment. wing which includes a 20-seat theater.</p>
							<ul class="ts-footer-info">
								<li><i class="fa fa-home"></i> 15 Cliff St, New York NY 10038, USA</li>
								<li><i class="icon icon-phone2"></i> +1 212-602-9641</li>
								<li><i class="fa fa-envelope"></i>info@example.com</li>
							</ul>
							<ul class="ts-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div><!-- col end -->
				<div class="col-lg-3 col-md-6">
					<div class="footer-widtet post-widget">
						<h3 class="widget-title"><span>Popular Post</span></h3>
						<div class="widget-content">
							<div class="list-post-block">
								<ul class="list-post">
									<li>
										<div class="post-block-style media">
											<div class="post-thumb">
												<a href="#">
													<img class="img-fluid" src="/static/images/news/tech/image5.png" alt="">
												</a>
											</div><!-- Post thumb end -->
											<div class="post-content media-body">
												<h4 class="post-title">
													<a href="#">Santino loganne legan an  old resident</a>
												</h4>
												<div class="post-meta mb-7">
													<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
												</div>
												</div><!-- Post content end -->
										</div><!-- Post block style end -->
									</li><!-- Li 1 end -->
									<li>
										<div class="post-block-style media">
											<div class="post-thumb">
												<a href="#">
													<img class="img-fluid" src="/static/images/news/fashion/image4.png" alt="">
												</a>
											</div><!-- Post thumb end -->
											<div class="post-content media-body">
												<h4 class="post-title">
													<a href="#">Jennifer Lopez expan her property</a>
												</h4>
												<div class="post-meta mb-7">
													<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
												</div>
												</div><!-- Post content end -->
										</div><!-- Post block style end -->
									</li><!-- Li 2 end -->
									<li>
										<div class="post-block-style media">
											<div class="post-thumb">
												<a href="#">
													<img class="img-fluid" src="/static/images/news/tech/tech1.png" alt="">
												</a>
											</div><!-- Post thumb end -->
											<div class="post-content media-body">
												<h4 class="post-title">
													<a href="#">Zhang social media pop star also known</a>
												</h4>
												<div class="post-meta mb-7">
													<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
												</div>
												</div><!-- Post content end -->
										</div><!-- Post block style end -->
									</li><!-- Li 3 end -->
									<li>
										<div class="post-block-style media">
											<div class="post-thumb">
												<a href="#">
													<img class="img-fluid" src="/static/images/news/fashion/image1.png" alt="">
												</a>
											</div><!-- Post thumb end -->
											<div class="post-content media-body">
												<h4 class="post-title">
													<a href="#">House last week that move would Inject</a>
												</h4>
												<div class="post-meta mb-7">
													<span class="post-date"><i class="fa fa-clock-o"></i> 29 July, 2020</span>
												</div>
												</div><!-- Post content end -->
										</div><!-- Post block style end -->
									</li><!-- Li 3 end -->
								</ul><!-- list-post end -->
							</div>
						</div>
					</div>
				</div><!-- col end -->
				<div class="col-lg-3 col-md-6">
					<div class="footer-widtet post-widget">
						<div class="widget-content">
							<div class="footer-ads">
								<a href="#">
									<img class="img-fluid" src="/static/images/banner-image/image6.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
				</div><!-- col end -->
			</div><!-- row end -->
		</div><!-- container end -->
	</div>
	<!-- Footer End-->