<div class="trending-bar trending-light d-md-block">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-9 text-center text-md-left">
                <p class="trending-title">
                <i class="tsicon fa fa-bolt"></i> Trending Now</p>
                <div id="trending-slide" class="owl-carousel owl-theme trending-slide">
                    <div class="item">
                        <div class="post-content">
                            <h2 class="post-title title-small">
                                <a href="#">The best MacBook Pro alternatives in 2017 for Apple users</a>
                            </h2>
                        </div><!-- Post content end -->
                    </div><!-- Item 1 end -->
                    <div class="item">
                        <div class="post-content">
                            <h2 class="post-title title-small">
                                <a href="#">Soaring through Southern Patagonia with the Premium Byrd drone</a>
                            </h2>
                        </div><!-- Post content end -->
                    </div><!-- Item 2 end -->
                    <div class="item">
                        <div class="post-content">
                            <h2 class="post-title title-small">
                                <a href="#">Super Tario Run isn’t groundbreaking, but it has Mintendo charm</a>
                            </h2>
                        </div><!-- Post content end -->
                    </div><!-- Item 3 end -->
                </div><!-- Carousel end -->
            </div><!-- Col end -->
            <div class="col-md-3 text-md-right text-center">
                <div class="ts-date">
                    <i class="fa fa-calendar-check-o"></i>May 29, 2017
                </div>
            </div><!-- Col end -->
        </div><!--/ Row end -->
    </div><!--/ Container end -->
</div><!--/ Trending end -->